@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the SIT Gym !</h1>
    <p>Please Select Your Name</p>
    <button class="button">Sign In</button>
</div>
